@model RocketPOS.Models.EmployeeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="page-inner">
    <div class="page-header"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Employee</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="Employee">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="FirstName" class="control-label">First Name</label>
                                            <input asp-for="FirstName" class="form-control" />
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="MiddleName" class="control-label">Middle Nmae</label>
                                            <input asp-for="MiddleName" class="form-control" />
                                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="LastName" class="control-label">Last Name</label>
                                            <input asp-for="LastName" class="form-control" />
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Designation" class="control-label"></label>
                                            <input asp-for="Designation" class="form-control" />
                                            <span asp-validation-for="Designation" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">

                                        <div class="form-group">
                                            <label asp-for="Email" class="control-label"></label>
                                            <input asp-for="Email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Phone" class="control-label"></label>
                                            <input asp-for="Phone" class="form-control" />
                                            <span asp-validation-for="Phone" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="AlterPhone" class="control-label">Alternative Phone</label>
                                            <input asp-for="AlterPhone" class="form-control" />
                                            <span asp-validation-for="AlterPhone" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="PresentAdress" class="control-label">Present Address 1</label>
                                            <textarea asp-for="PresentAdress" class="form-control" rows="2"></textarea>
                                            <span asp-validation-for="PresentAdress" class="text-danger"></span>
                                        </div>

                                    </div>
                                    <div class="col-md-6 col-lg-4">

                                        <div class="form-group">
                                            <label asp-for="PermanentAdress" class="control-label">Permanent Adress</label>
                                            <textarea asp-for="PermanentAdress" class="form-control" rows="2"></textarea>
                                            <span asp-validation-for="PermanentAdress" class="text-danger"></span>
                                        </div>
                                        @*<div class="form-group">
                                                <label asp-for="picture" class="control-label">Picture</label>
                                                <input asp-for="picture" class="form-control" />
                                                <span asp-validation-for="picture" class="text-danger"></span>
                                            </div>*@
                                        @if (Model.Id > 0)
                                        {
                                            <div class="form-group">
                                                <label asp-for="IsActive" class="form-check-label" style="margin: 10px 0 0 0px"></label>
                                                <input asp-for="IsActive" class="form-check-input" style="margin: 12Px 0 0 42px" />
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    @if (Model != null)
                                    {
                                        @if (Model.Id > 0)
                                        {
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        }
                                        else
                                        {
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        }
                                    }
                                    <a href='@Url.Action("Index", "Employee")' class="btn btn-primary" style="margin:0px 0px 0px 5px">Cancel</a>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                @ViewBag.Result
            </div>
            <div class="modal-footer">
                <button type="button" id="save" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
@{
    if (ViewBag.Result != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#aModal").modal('show');
            });
        </script>
    }
}
@section Scripts{
    <script>
        $('#save').click(function () {
            window.location.href = "Index";
        });
        $('#OK').click(function () {
            $("#Employee").prev().focus();
            $("#vModal").modal('hide');
        });
    </script>
    <partial name="_ValidationScriptsPartial" />

}
