@model RocketPOS.Models.EmployeeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    //  ViewData["Title"] = "Employee";
}

<div class="page-inner">
    <div class="page-header"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>Manage Employee</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Employee">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                @*<div class="form-group">
                                        <label asp-for="Id" class="control-label"></label>
                                        <input asp-for="Id" class="form-control" />
                                        <span asp-validation-for="Id" class="text-danger"></span>
                                    </div>*@
                                <div class="form-group">
                                    <label asp-for="FirstName" class="control-label"></label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MiddleName" class="control-label"></label>
                                    <input asp-for="MiddleName" class="form-control" />
                                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LastName" class="control-label"></label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Designation" class="control-label"></label>
                                    <input asp-for="Designation" class="form-control" />
                                    <span asp-validation-for="Designation" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Phone" class="control-label"></label>
                                    <input asp-for="Phone" class="form-control" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="AlterPhone" class="control-label"></label>
                                    <input asp-for="AlterPhone" class="form-control" />
                                    <span asp-validation-for="AlterPhone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PresentAdress" class="control-label"></label>
                                    <input asp-for="PresentAdress" class="form-control" />
                                    <span asp-validation-for="PresentAdress" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PermanentAdress" class="control-label"></label>
                                    <input asp-for="PermanentAdress" class="form-control" />
                                    <span asp-validation-for="PermanentAdress" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="picture" class="control-label"></label>
                                    <input asp-for="picture" class="form-control" />
                                    <span asp-validation-for="picture" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DegreeName" class="control-label"></label>
                                    <input asp-for="DegreeName" class="form-control" />
                                    <span asp-validation-for="DegreeName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UniversityName" class="control-label"></label>
                                    <input asp-for="UniversityName" class="form-control" />
                                    <span asp-validation-for="UniversityName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CGP" class="control-label"></label>
                                    <input asp-for="CGP" class="form-control" />
                                    <span asp-validation-for="CGP" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PassingYear" class="control-label"></label>
                                    <input asp-for="PassingYear" class="form-control" />
                                    <span asp-validation-for="PassingYear" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CompanyName" class="control-label"></label>
                                    <input asp-for="CompanyName" class="form-control" />
                                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="WorkingPeriod" class="control-label"></label>
                                    <input asp-for="WorkingPeriod" class="form-control" />
                                    <span asp-validation-for="WorkingPeriod" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Duties" class="control-label"></label>
                                    <input asp-for="Duties" class="form-control" />
                                    <span asp-validation-for="Duties" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Suoervisor" class="control-label"></label>
                                    <input asp-for="Suoervisor" class="form-control" />
                                    <span asp-validation-for="Suoervisor" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Signature" class="control-label"></label>
                                    <input asp-for="Signature" class="form-control" />
                                    <span asp-validation-for="Signature" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="State" class="control-label"></label>
                                    <input asp-for="State" class="form-control" />
                                    <span asp-validation-for="State" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="City" class="control-label"></label>
                                    <input asp-for="City" class="form-control" />
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Zip" class="control-label"></label>
                                    <input asp-for="Zip" class="form-control" />
                                    <span asp-validation-for="Zip" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CitizenShip" class="control-label"></label>
                                    <input asp-for="CitizenShip" class="form-control" />
                                    <span asp-validation-for="CitizenShip" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="HireDate" class="control-label"></label>
                                    <input asp-for="HireDate" class="form-control" />
                                    <span asp-validation-for="HireDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="OriginalHireDate" class="control-label"></label>
                                    <input asp-for="OriginalHireDate" class="form-control" />
                                    <span asp-validation-for="OriginalHireDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TerminationDate" class="control-label"></label>
                                    <input asp-for="TerminationDate" class="form-control" />
                                    <span asp-validation-for="TerminationDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TerminationReason" class="control-label"></label>
                                    <input asp-for="TerminationReason" class="form-control" />
                                    <span asp-validation-for="TerminationReason" class="text-danger"></span>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="VolunteryTermination" /> @Html.DisplayNameFor(model => model.VolunteryTermination)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label asp-for="RehireDate" class="control-label"></label>
                                    <input asp-for="RehireDate" class="form-control" />
                                    <span asp-validation-for="RehireDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="RateType" class="control-label"></label>
                                    <input asp-for="RateType" class="form-control" />
                                    <span asp-validation-for="RateType" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Rate" class="control-label"></label>
                                    <input asp-for="Rate" class="form-control" />
                                    <span asp-validation-for="Rate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PayFrequency" class="control-label"></label>
                                    <input asp-for="PayFrequency" class="form-control" />
                                    <span asp-validation-for="PayFrequency" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PayFrequencyTxt" class="control-label"></label>
                                    <input asp-for="PayFrequencyTxt" class="form-control" />
                                    <span asp-validation-for="PayFrequencyTxt" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="HourlyRate2" class="control-label"></label>
                                    <input asp-for="HourlyRate2" class="form-control" />
                                    <span asp-validation-for="HourlyRate2" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="HourlyRate3" class="control-label"></label>
                                    <input asp-for="HourlyRate3" class="form-control" />
                                    <span asp-validation-for="HourlyRate3" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DOB" class="control-label"></label>
                                    <input asp-for="DOB" class="form-control" />
                                    <span asp-validation-for="DOB" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Gender" class="control-label"></label>
                                    <input asp-for="Gender" class="form-control" />
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Country" class="control-label"></label>
                                    <input asp-for="Country" class="form-control" />
                                    <span asp-validation-for="Country" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MaritalStatus" class="control-label"></label>
                                    <input asp-for="MaritalStatus" class="form-control" />
                                    <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="EthnicGroup" class="control-label"></label>
                                    <input asp-for="EthnicGroup" class="form-control" />
                                    <span asp-validation-for="EthnicGroup" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SSN" class="control-label"></label>
                                    <input asp-for="SSN" class="form-control" />
                                    <span asp-validation-for="SSN" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="WorkInState" class="control-label"></label>
                                    <input asp-for="WorkInState" class="form-control" />
                                    <span asp-validation-for="WorkInState" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LiveInState" class="control-label"></label>
                                    <input asp-for="LiveInState" class="form-control" />
                                    <span asp-validation-for="LiveInState" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="HomeEmail" class="control-label"></label>
                                    <input asp-for="HomeEmail" class="form-control" />
                                    <span asp-validation-for="HomeEmail" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BusinessEmail" class="control-label"></label>
                                    <input asp-for="BusinessEmail" class="form-control" />
                                    <span asp-validation-for="BusinessEmail" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="HomePhone" class="control-label"></label>
                                    <input asp-for="HomePhone" class="form-control" />
                                    <span asp-validation-for="HomePhone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BUsinessPhone" class="control-label"></label>
                                    <input asp-for="BUsinessPhone" class="form-control" />
                                    <span asp-validation-for="BUsinessPhone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CellPhone" class="control-label"></label>
                                    <input asp-for="CellPhone" class="form-control" />
                                    <span asp-validation-for="CellPhone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="EmergConct" class="control-label"></label>
                                    <input asp-for="EmergConct" class="form-control" />
                                    <span asp-validation-for="EmergConct" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="EmergHPhone" class="control-label"></label>
                                    <input asp-for="EmergHPhone" class="form-control" />
                                    <span asp-validation-for="EmergHPhone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="EmergWPhone" class="control-label"></label>
                                    <input asp-for="EmergWPhone" class="form-control" />
                                    <span asp-validation-for="EmergWPhone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="EmergContctRelation" class="control-label"></label>
                                    <input asp-for="EmergContctRelation" class="form-control" />
                                    <span asp-validation-for="EmergContctRelation" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="AltEmContct" class="control-label"></label>
                                    <input asp-for="AltEmContct" class="form-control" />
                                    <span asp-validation-for="AltEmContct" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="AltEmgHPhone" class="control-label"></label>
                                    <input asp-for="AltEmgHPhone" class="form-control" />
                                    <span asp-validation-for="AltEmgHPhone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="AltEmgWPhone" class="control-label"></label>
                                    <input asp-for="AltEmgWPhone" class="form-control" />
                                    <span asp-validation-for="AltEmgWPhone" class="text-danger"></span>
                                    <div class="form-group">
                                        <label asp-for="IsActive" class="control-label"></label>
                                        <input asp-for="IsActive" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        @if (Model != null)
                                        {
                                            @if (Model.Id > 0)
                                            {
                                                <input type="submit" value="Edit" class="btn btn-primary btn-sm" />
                                            }
                                            else
                                            {
                                                <input type="submit" value="Add" class="btn btn-primary btn-sm" />
                                            }
                                        }
                                        <input type="submit" asp-action="Index" value="Cancel" class="btn btn-primary btn-sm" />

                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                @ViewBag.Result
            </div>
            <div class="modal-footer">
                <button type="button" id="save" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
@{
    if (ViewBag.Result != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#aModal").modal('show');
            });
        </script>
    }
}
@section Scripts{
    <script>
        $('#save').click(function () {
            window.location.href = "Index";
        });
        $('#OK').click(function () {
            $("#Employee").prev().focus();
            $("#vModal").modal('hide');
        });
    </script>
    <partial name="_ValidationScriptsPartial" />

}
