@model RocketPOS.Models.GlobalStatusModel

@if (!string.IsNullOrEmpty(ViewBag.msg))
{
    <script type="text/javascript">
        alert("@ViewBag.msg");
    </script>
}

<div class="page-inner">
    <div class="page-header"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>GlobalStatus</h5>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="GlobalStatus">
                                <div class="form-group">
                                    <label asp-for="ModuleList" class="control-label">Module</label>
                                    @if (Model.ModuleList != null)
                                    {
                                        <select asp-for="ModuleName" class="form-control"
                                                asp-items="@(new SelectList(Model.ModuleList, "Value", "Text"))">
                                        </select>
                                    }
                                </div>
                                <div class="form-group">
                                    <label asp-for="StatusName" class="control-label">Status Name</label>
                                    <input asp-for="StatusName" class="form-control" />
                                    <span asp-validation-for="StatusName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="StatusCode" class="control-label">Status Code</label>
                                    <input asp-for="StatusCode" class="form-control" />
                                    <span asp-validation-for="StatusCode" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    @if (Model != null)
                                    {
                                        @if (Model.Id > 0)
                                        {
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        }
                                        else
                                        {
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        }
                                        <a href='@Url.Action("Index", "GlobalStatus")' class="btn btn-primary" style="margin:0px 0px 0px 5px">Cancel</a>
                                    }
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                @ViewBag.Result
            </div>
            <div class="modal-footer">
                <button type="button" id="save" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
@{
    if (ViewBag.Result != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#aModal").modal('show');
            });
        </script>
    }
}
@section Scripts{
    <script>
        $('#save').click(function () {
            window.location.href = "Index";
        });
        $('#OK').click(function () {
            $("#GlobalStatus").prev().focus();
            $("#vModal").modal('hide');
        });
    </script>
    <partial name="_ValidationScriptsPartial" />

}

