@model RocketPOS.Models.BankModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="page-inner">
    <div class="page-header"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Manage Bank</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="Bank">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="BankName" class="control-label"></label>
                                            <input asp-for="BankName" class="form-control" />
                                            <span asp-validation-for="BankName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="AccountName" class="control-label">Account Name</label>
                                            <input asp-for="AccountName" class="form-control" />
                                            <span asp-validation-for="AccountName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="AccountNumber" class="control-label">Account Number</label>
                                            <input asp-for="AccountNumber" class="form-control" />
                                            <span asp-validation-for="AccountNumber" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Branch" class="control-label"></label>
                                            <input asp-for="Branch" class="form-control" />
                                            <span asp-validation-for="Branch" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        @*<div class="form-group">
                                            <label asp-for="SignaturePicture" class="control-label"></label>
                                            <input asp-for="SignaturePicture" class="form-control" />
                                            <span asp-validation-for="SignaturePicture" class="text-danger"></span>
                                        </div>*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    @if (Model != null)
                                    {
                                        @if (Model.Id > 0)
                                        {
                                            <input type="submit" value="Edit" class="btn btn-primary" />
                                        }
                                        else
                                        {
                                            <input type="submit" value="Add" class="btn btn-primary" />
                                        }
                                    }
                                    <a href='@Url.Action("Index", "Bank")' class="btn btn-primary" style="margin:0px 0px 0px 5px">Cancel</a>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                @ViewBag.Result
            </div>
            <div class="modal-footer">
                <button type="button" id="save" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
@{
    if (ViewBag.Result != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#aModal").modal('show');
            });
        </script>
    }
}
@section Scripts{
    <script>
        $('#save').click(function () {
            window.location.href = "Index";
        });
        $('#OK').click(function () {
            $("#Bank").prev().focus();
            $("#vModal").modal('hide');
        });
    </script>
    <partial name="_ValidationScriptsPartial" />

}
