@model RocketPOS.Models.SupplierModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="page-inner">
    <div class="page-header"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Supplier</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="Supplier">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="SupplierName" class="control-label"></label>
                                            <input asp-for="SupplierName" class="form-control" />
                                            <span asp-validation-for="SupplierName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ContactPerson" class="control-label"></label>
                                            <input asp-for="ContactPerson" class="form-control" />
                                            <span asp-validation-for="ContactPerson" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="SupplierPhone" class="control-label"></label>
                                            <input asp-for="SupplierPhone" class="form-control" />
                                            <span asp-validation-for="SupplierPhone" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="SupplierEmail" class="control-label"></label>
                                            <input asp-for="SupplierEmail" class="form-control" />
                                            <span asp-validation-for="SupplierEmail" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="SupplierAddress1" class="control-label">Address 1</label>
                                            <input asp-for="SupplierAddress1" class="form-control" />
                                            <span asp-validation-for="SupplierAddress1" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="SupplierAddress2" class="control-label">Address 2</label>
                                            <input asp-for="SupplierAddress2" class="form-control" />
                                            <span asp-validation-for="SupplierAddress2" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="City" class="control-label">City</label>
                                            <input asp-for="City" class="form-control" />
                                            <span asp-validation-for="City" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="VATNumber" class="control-label">@ViewData["VatLabel"]</label>
                                            <input asp-for="VATNumber" class="form-control" />
                                            <span asp-validation-for="VATNumber" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="PINNumber" class="control-label">@ViewData["PinLabel"]</label>
                                            <input asp-for="PINNumber" class="form-control" />
                                            <span asp-validation-for="PINNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                        @if (Model.Id > 0)
                                        {
                                            <div class="form-group">
                                                <label asp-for="IsActive" class="control-label" style="margin: 10px 0 0 0px"></label>
                                                <input asp-for="IsActive" class="form-check-input" style="margin: 15Px 0 0 42px" />
                                                <span class="alert-danger" asp-validation-for="IsActive"></span>
                                            </div>
                                        }
                                </div>
                                <div class="form-group">
                                    @if (Model != null)
                                    {
                                        @if (Model.Id > 0)
                                        {
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        }
                                        else
                                        {
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        }
                                    }
                                    <a href='@Url.Action("Index", "Supplier")' class="btn btn-primary" style="margin:0px 0px 0px 5px">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                @ViewBag.Result
            </div>
            <div class="modal-footer">
                <button type="button" id="save" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
@{
    if (ViewBag.Result != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#aModal").modal('show');
            });
        </script>
    }
}
@section Scripts{
    <script>
        $('#save').click(function () {
            window.location.href = "Index";
        });
        $('#OK').click(function () {
            $("#Supplier").prev().focus();
            $("#vModal").modal('hide');
        });
    </script>
    <partial name="_ValidationScriptsPartial" />

}
