@model RocketPOS.Models.AddonsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="page-inner">
    <div class="page-header"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>Manage Addons</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="Addons" method="post" role="form">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="AddonsName" class="control-label"></label>
                                            <input asp-for="AddonsName" class="form-control" />
                                            <span asp-validation-for="AddonsName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Price" class="control-label"></label>
                                            <input asp-for="Price" class="form-control" />
                                            <span asp-validation-for="Price" class="text-danger"></span>
                                        </div>
                                        @if (Model != null)
                                        {
                                            @if (Model.Id > 0)
                                            {

                                                <div class="form-check">
                                                    <label class="orm-check-label">
                                                        <input asp-for="IsActive" class="form-check-input" type="checkbox" />
                                                        <span class="form-check-sign">Is Active</span>
                                                    </label>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        @if (Model != null)
                                        {
                                            @if (Model.Id > 0)
                                            {
                                                <input type="submit" value="Edit" formnovalidate class="btn btn-primary" />
                                            }
                                            else
                                            {
                                                <input type="submit" value="Add" formnovalidate class="btn btn-primary" />
                                            }
                                            <input type="submit" asp-action="Index" value="Cancel" class="btn btn-danger" />
                                        }
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                @ViewBag.Result
            </div>
            <div class="modal-footer">
                <button type="button" id="save" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="vModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                @ViewBag.Validate
            </div>
            <div class="modal-footer">
                <button type="button" id="OK" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
@{
    if (ViewBag.Result != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#aModal").modal('show');
            });
        </script>
    }
    if (ViewBag.Validate != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#vModal").modal('show');
            });
        </script>
    }
}
@section Scripts{
    <script>
        $('#save').click(function () {
            window.location.href = "Index";
        });
        $('#OK').click(function () {
            $("#Addons").prev().focus();
            $("#vModal").modal('hide');
        });
    </script>
    <partial name="_ValidationScriptsPartial" />

}
