@model RocketPOS.Models.OutletModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="page-inner">
    <div class="page-header"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Outlet</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="Outlet" method="post" role="form">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <input asp-for="OriginalStoreId" class="form-control" hidden="hidden" />
                                            <label asp-for="StoreList" class="control-label">Store</label>
                                            <select asp-for="StoreId"
                                                    class="form-control"
                                                    asp-items="@(new SelectList(Model.StoreList, "Value", "Text"))">
                                            </select>
                                            <span asp-validation-for="StoreId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="OutletName" class="control-label">Outlet</label>
                                            <input asp-for="OutletName" class="form-control" />
                                            <span asp-validation-for="OutletName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="OutletAddress1" class="control-label">Address 1</label>
                                            <input asp-for="OutletAddress1" class="form-control" />
                                            <span asp-validation-for="OutletAddress1" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="OutletAddress2" class="control-label">Address 2</label>
                                            <input asp-for="OutletAddress2" class="form-control" />
                                            <span asp-validation-for="OutletAddress2" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="OutletPhone" class="control-label">Phone</label>
                                            <input asp-for="OutletPhone" class="form-control" />
                                            <span asp-validation-for="OutletPhone" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="OutletEmail" class="control-label">Email</label>
                                            <input type="email" asp-for="OutletEmail" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" />
                                            <span asp-validation-for="OutletEmail" class="text-danger"></span>
                                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="IsCollectTax" class="form-check-label" style="margin: 30px 0 0 0px"></label>
                                            <input asp-for="IsCollectTax" class="form-check-input" style="margin: 30Px 0 0 25px" />
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="IsPreorPostPayment" class="form-check-label" style="margin: 35px 0 0 0px"></label>
                                            <input asp-for="IsPreorPostPayment" class="form-check-input" style="margin: 35px 0 0 16px" />
                                        </div>
                                        @if (Model != null)
                                        {
                                            @if (Model.Id > 0)
                                            {
                                                <div class="form-group">
                                                    <label asp-for="IsActive" class="form-check-label" style="margin: 35px 0 0 0px"></label>
                                                    <input asp-for="IsActive" class="form-check-input" style="margin: 35Px 0 0 42px" />
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    @if (Model != null)
                                    {
                                        @if (Model.Id > 0)
                                        {
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        }
                                        else
                                        {
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        }
                                    }
                                    <a href='@Url.Action("Index", "Outlet")' class="btn btn-primary" style="margin:0px 0px 0px 5px">Cancel</a>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                @ViewBag.Result
            </div>
            <div class="modal-footer">
                <button type="button" id="save" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bModal" tabindex="-1" role="dialog" aria-labelledby="bModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="bModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                @ViewBag.Result
            </div>
            <div class="modal-footer">
                <button type="button" id="bsave" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
@{
    if (ViewBag.Result != null)
    {
        if (ViewBag.UpdateError != null)
        {
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
            <script type="text/javascript">
                $("#bModal").modal('show');
            </script>
        }
        else
        {
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
            <script type="text/javascript">
                $("#aModal").modal('show');
            </script>
        }

    }
}
@section Scripts{
    <script>
        $('#save').click(function () {
            window.location.href = "";
            //window.location.href = "Index";
        });
        $('#bsave').click(function () {
            window.location.href = "";
        });
        $('#OK').click(function () {
            $("#Outlet").prev().focus();
            $("#vModal").modal('hide');
        });
    </script>
    <partial name="_ValidationScriptsPartial" />

}