@model RocketPOS.Models.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/img/RocketPOS48.ico" type="image/x-icon" />

    <title>Login to RocketPOS</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/singin.css" rel="stylesheet">
</head>

<body>
    <div class="page-inner">
        <div class="col-md-auto">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-signin">
                                <table>
                                    <tr>
                                        <img class="mb-4" src="~/img/Mainwindow_Logo.bmp" alt="" style="width:auto">
                                    </tr>
                                    <tr>
                                        <div class="form-group">
                                            <label for="inputEmail" class="control-label">Username</label>
                                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                                        </div>
                                    </tr>
                                    <tr>
                                        <div class="form-group">
                                            <label for="inputPassword" class="control-label">Password</label>
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        </div>
                                    </tr>
                                    <tr>
                                        <div class="checkbox mb-3">
                                            <label>
                                                <input type="checkbox" value="remember-me"> Remember me
                                            </label>
                                        </div>
                                    </tr>
                                    <tr>
                                        <button asp-page-handler="LogIn" class="btn btn-lg btn-primary btn-block">Sign in</button>
                                    </tr>
                                </table>
                            </form>

                            <p class="mt-5 mb-3 text-muted">&copy; RocketPOS 2021-2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="vModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="aModalLabel">Message</h4>
                </div>
                <div class="modal-body">
                    @ViewBag.Validate
                </div>
                <div class="modal-footer">
                    <button type="button" id="OK" data-dismiss="modal" class="btn btn-primary">OK</button>
                </div>
            </div>
        </div>
    </div>
    @{
        if (ViewBag.Validate != null)
        {
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
            <script type="text/javascript">
                $(function () {
                    if (location.href.includes('?')) {
                        history.pushState({}, null, location.href.split('?')[0]);
                    }

                    $("#vModal").modal('show');
                });
            </script>
        }
    }
</body>
</html>