@model RocketPOS.Models.UserModel
@using RocketPOS.Framework;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="page-inner">
    <div class="page-header"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5>Manage User</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="User">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="EmployeeList" class="control-label">Employee</label>
                                            <select asp-for="EmployeeId" class="form-control"
                                                    asp-items="@(new SelectList(Model.EmployeeList, "Value", "Text"))">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="OutletList" class="control-label">Outlet</label>
                                            <select asp-for="OutletId" class="form-control"
                                                    asp-items="@(new SelectList(Model.OutletList, "Value", "Text"))">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="Username" class="control-label"></label>
                                            <input asp-for="Username" class="form-control" />
                                            <span asp-validation-for="Username" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Password" class="control-label"></label>
                                            <input type="password" asp-for="Password" class="form-control" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="form-group">
                                            <label asp-for="RoleTypeId" class="control-label">Role</label>
                                            <select asp-for="RoleTypeId" class="form-control" asp-items="Html.GetEnumSelectList<RoleType>()">
                                                <option selected="selected" value="">Select</option>
                                            </select>
                                            <span asp-validation-for="RoleTypeId" class="text-danger" />
                                        </div>
                                        @if (Model != null)
                                        {
                                            @if (Model.Id > 0)
                                            {

                                                <div class="form-group">
                                                    <label asp-for="IsActive" class="control-label" style="margin: 7px 0 0 20px"></label>
                                                    <input asp-for="IsActive" class="form-check-input" style="margin: 7Px 0 0 42px" />
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    @if (Model != null)
                                    {
                                        @if (Model.Id > 0)
                                        {
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        }
                                        else
                                        {
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        }
                                    }
                                    <a href='@Url.Action("Index", "User")' class="btn btn-primary" style="margin:0px 0px 0px 5px">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                @ViewBag.Result
            </div>
            <div class="modal-footer">
                <button type="button" id="save" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
@{
    if (ViewBag.Result != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#aModal").modal('show');
            });
        </script>
    }
}
@section Scripts{
    <script>
        $('#save').click(function () {
            window.location.href = "Index";
        });
        $('#OK').click(function () {
            $("#User").prev().focus();
            $("#vModal").modal('hide');
        });
    </script>
    <partial name="_ValidationScriptsPartial" />

}
