@using Microsoft.AspNetCore.Http
<header>
    <nav class="navbar  navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <a class="navbar-brand" href="~/Home">
            <img src="~/img/Mainwindow_Logo_Inner.bmp" width="114" height="30" alt="">
        </a>
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="font-weight:bold" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Masters
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="~/User">Users</a>
                            <a class="dropdown-item" href="~/Employee">Employees</a>
                            <hr />
                            <a class="dropdown-item" href="~/Outlet">Outlets</a>
                            <a class="dropdown-item" href="~/Store">Stores</a>
                            <a class="dropdown-item" href="~/Tables">Tables</a>
                            <hr />
                            <a class="dropdown-item" href="~/Bank">Banks</a>
                            <a class="dropdown-item" href="~/PaymentMethod">Payment Methods</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="font-weight:bold" href="#" id="navbarDropdownMenuLinkFM" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Items
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkFM">
                            <a class="dropdown-item" href="~/FoodMenu">Menu Items</a>
                            <a class="dropdown-item" href="~/FoodMenuCategory">Menu Categories</a>
                            <hr />
                            <a class="dropdown-item" href="~/FoodMenuRate">Price Lists</a>
                            <a class="dropdown-item" href="~/Ingredient">Stock Items</a>
                            <a class="dropdown-item" href="~/IngredientCategory">Stock Categories</a>
                            <hr />
                            <a class="dropdown-item" href="~/IngredientUnit">Unit of Measures</a>
                            @*<a class="dropdown-item" href="~/FoodMenuIngredient">Food Menu Ingredient</a>*@

                            @*<a class="dropdown-item" href="~/Addons">Addons</a>
                                <a class="dropdown-item" href="~/Varient">Varient</a>*@
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="font-weight:bold" href="#" id="navbarDropdownMenuLinkPu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Transactions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkPu">
                            <a class="dropdown-item" asp-area="" asp-controller="PurchaseFoodMenu" asp-action="PurchaseFoodMenuList">
                                <span>Purchase Orders</span>
                            </a>
                            <a class="dropdown-item" asp-area="" asp-controller="PurchaseGRNFoodMenu" asp-action="PurchaseGRNFoodMenuList">
                                <span>Goods Receipt Notes</span>
                            </a>
                            <a class="dropdown-item" asp-area="" asp-controller="PurchaseInvoiceFoodMenu" asp-action="PurchaseInvoiceFoodMenuList">
                                <span>Purchase Invoices</span>
                            </a>
                            <hr />
                            <a class="dropdown-item" asp-area="" asp-controller="InventoryAdjustment" asp-action="InventoryAdjustmentList">
                                <span>Stock In</span>
                            </a>
                            <a class="dropdown-item" asp-area="" asp-controller="InventoryTransfer" asp-action="InventoryTransferList">
                                <span>Stock Transfer</span>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="font-weight:bold" href="#" id="navbarDropdownMenuLinkPu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Production
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkPu">
                            <a class="dropdown-item" asp-area="" asp-controller="ProductionEntry" asp-action="Index">
                                <span>Production Entries</span>
                            </a>
                            <a class="dropdown-item" asp-area="" asp-controller="ProductionFormula" asp-action="Index">
                                <span>Master Formulas</span>
                            </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="font-weight:bold" href="#" id="navbarDropdownMenuLinkST" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Inventory
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkST">
                            <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="Inventory">
                                <span>Current Stock </span>
                            </a>
                            <a class="dropdown-item" asp-area="" asp-controller="Inventory" asp-action="Index">
                                <span>Opening Stock </span>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="font-weight:bold" href="#" id="navbarDropdownMenuLinkST" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Utilities
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkST">
                            <a class="dropdown-item" asp-controller="Report" asp-action="DataSyncHistory">Data Sync History</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="font-weight:bold" asp-area="" asp-controller="Supplier" asp-action="Index">
                            <span>Suppliers</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="font-weight:bold; font-size:12px" href="#" id="navbarDropdownMenuLinkST" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            +
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkST">
                            <a class="dropdown-item" style="font-weight:bold; font-size:12px" href="~/FoodMenu/FoodMenu">Menu Item</a>
                            <a class="dropdown-item" style="font-weight:bold; font-size:12px" href="~/FoodMenuCategory/FoodMenuCategory">Menu Category</a>
                            <hr />
                            <a class="dropdown-item" style="font-weight:bold; font-size:12px" href="~/Ingredient/Ingredient"><span>Stock Item</span></a>
                            <a class="dropdown-item" style="font-weight:bold; font-size:12px" href="~/IngredientCategory/IngredientCategory">Stock Category</a>
                            <hr />
                            <a class="dropdown-item" style="font-weight:bold; font-size:12px" asp-area="" asp-controller="PurchaseFoodMenu" asp-action="PurchaseFoodMenu">
                                <span>Purchase Order</span>
                            </a>
                            <hr />
                            <a class="dropdown-item" style="font-weight:bold; font-size:12px" href="~/ProductionEntry/ProductionEntry"><span>Prodution Entry</span></a>
                            <a class="dropdown-item" style="font-weight:bold; font-size:12px" href="~/ProductionFormula/ProductionFormula">Master Formula</a>
                        </div>
                    </li>
                </ul>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Index">
                    <span>Logout</span>
                </a>
            </form>
        </div>
    </nav>

</header>

@*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">WebApplication3</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@
