@using Microsoft.AspNetCore.Http
<header>
    <nav class="navbar  navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <a class="navbar-brand" href="~/Home">
            <img src="~/img/Mainwindow_Logo_Inner.bmp" width="114" height="30" alt="">
        </a>
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="font-weight:bold" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Masters
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="~/User">Users</a>
                            <a class="dropdown-item" href="~/Employee">Employees</a>
                            <hr />
                            <a class="dropdown-item" href="~/Outlet">Outlets</a>
                            @*<a class="dropdown-item" href="~/Store">Stores</a>*@
                            @*<a class="dropdown-item" href="~/Section">Sections</a>*@
                            <a class="dropdown-item" href="~/Tables">Tables</a>
                            <hr />
                            <a class="dropdown-item" href="~/Tax">Tax</a>
                            <a class="dropdown-item" href="~/Bank">Banks</a>
                            <a class="dropdown-item" href="~/PaymentMethod">Payment Methods</a>
                            <hr />
                            <a class="dropdown-item" href="~/Role">Role</a>
                            <a class="dropdown-item" href="~/RolePermission">Role Permission</a>
                            <a class="dropdown-item" href="~/RewardSetup">Reward Setup</a>
                            <a class="dropdown-item" href="~/GlobalStatus">Global Notes</a>
                            @*<a class="dropdown-item" href="~/EmailSetting">Settings</a>*@
                            <hr />
                            <a class="dropdown-item" href="~/Supplier">Suppliers</a>
                            <a class="dropdown-item" href="~/Customer">Customers</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="font-weight:bold" href="#" id="navbarDropdownMenuLinkFM" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Items
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkFM">
                            <a class="dropdown-item" href="~/FoodMenu">Menu Items</a>
                            <a class="dropdown-item" href="~/FoodMenuCategory">Menu Categories</a>
                            <hr />
                            <a class="dropdown-item" href="~/FoodMenuRate">Price Lists</a>
                            <a class="dropdown-item" href="~/Ingredient">Stock Items</a>
                            <a class="dropdown-item" href="~/IngredientCategory">Stock Categories</a>
                            <a class="dropdown-item" href="~/rawmaterial">Stock Type</a>
                            <hr />
                            <a class="dropdown-item" href="~/AssetCategory">Asset Category</a>
                            <a class="dropdown-item" href="~/AssetItem">Asset Item</a>
                            <hr />
                            <a class="dropdown-item" href="~/IngredientUnit">Unit of Measures</a>
                            @*<a class="dropdown-item" href="~/FoodMenuIngredient">Food Menu Ingredient</a>*@

                            @*<a class="dropdown-item" href="~/Addons">Addons</a>
                                <a class="dropdown-item" href="~/Varient">Varient</a>*@
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="font-weight:bold" href="#" id="navbarDropdownMenuLinkPu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Transactions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkPu">
                            <a class="dropdown-item" asp-area="" asp-controller="PurchaseFoodMenu" asp-action="PurchaseFoodMenuList">
                                <span>Purchase Orders</span>
                            </a>
                            <a class="dropdown-item" asp-area="" asp-controller="PurchaseGRNFoodMenu" asp-action="PurchaseGRNFoodMenuList">
                                <span>Goods Receipt Notes</span>
                            </a>
                            <a class="dropdown-item" asp-area="" asp-controller="PurchaseInvoiceFoodMenu" asp-action="PurchaseInvoiceFoodMenuList">
                                <span>Purchase Invoices</span>
                            </a>
                            <hr />
                            <a class="dropdown-item" asp-area="" asp-controller="Sales" asp-action="SalesFoodMenuList">
                                <span>Sales Orders</span>
                            </a>
                            <a class="dropdown-item" asp-area="" asp-controller="SalesDelivery" asp-action="SalesDeliveryFoodMenuList">
                                <span>Sales Delivery</span>
                            </a>
                            <a class="dropdown-item" asp-area="" asp-controller="SalesInvoice" asp-action="SalesInvoiceFoodMenuList">
                                <span>Sales Invoice</span>
                            </a>
                            <hr />
                            <a class="dropdown-item" asp-area="" asp-controller="InventoryAdjustment" asp-route-consumptionStatus="1" asp-action="InventoryAdjustmentList">
                                <span>Stock In</span>
                            </a>
                            <a class="dropdown-item" asp-area="" asp-controller="InventoryAdjustment" asp-route-consumptionStatus="2" asp-action="InventoryAdjustmentList">
                                <span>Stock Out</span>
                            </a>
                            <a class="dropdown-item" asp-area="" asp-controller="InventoryTransfer" asp-action="InventoryTransferList">
                                <span>Stock Transfer</span>
                            </a>
                            <a class="dropdown-item" asp-area="" asp-controller="InventoryAlteration" asp-action="Index">
                                <span>Physical Stock</span>
                            </a>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="font-weight:bold" href="#" id="navbarDropdownMenuLinkPu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Production
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkPu">
                            <a class="dropdown-item" asp-area="" asp-controller="ProductionEntry" asp-action="Index">
                                <span>Production Entries</span>
                            </a>
                            <a class="dropdown-item" asp-area="" asp-controller="ProductionFormula" asp-action="Index">
                                <span>Recipe Formulas</span>
                            </a>
                            <hr />
                            <a class="dropdown-item" asp-area="" asp-controller="Waste" asp-action="WasteList">
                                <span>Wastes</span>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" style="font-weight:bold" asp-area="" asp-controller="AssetEvent" asp-action="Index">
                            <span>Catering</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="font-weight:bold" href="#" id="navbarDropdownMenuLinkST" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Inventory
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkST">
                            <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="Inventory">
                                <span>Current Stock </span>
                            </a>
                            <a class="dropdown-item" asp-area="" asp-controller="Inventory" asp-action="Index">
                                <span>Opening Stock </span>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="font-weight:bold" href="#" id="navbarDropdownMenuLinkST" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Reports
                        </a>
                        <div class="dropdown-menu columns-3" aria-labelledby="navbarDropdownMenuLinkST">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h6>Reports</h6>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="CessReport">
                                            <span>Catering Levy Summary</span>
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="CessCategoryReport">
                                            <span>Catering Levy Category</span>
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="ModOfPaymentReport">
                                            <span>Sales Summary Payment</span>
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="CessDetailReport">
                                            <span>Invoicewise Tax Summary</span>
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="DetailSaleSummaryReport">
                                            <span>Detail Sale Summary</span>
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="GetMasterSales">
                                            <span>Master Sales</span>
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="TableStatisticsReport">
                                            <span>Table Statistics</span>
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="SalesSummaryByFoodCategoryFoodMenuReport">
                                            <span>Sales Summary By Product</span>
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="SalesSummaryByFoodCategoryReport">
                                            <span>Sales Summary By Category</span>
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="SalesSummaryBySectionReport">
                                            <span>Sales Summary By Section</span>
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="CustomerRewardReport">
                                            <span>Customer Reward</span>
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="SalesSummaryByHoursReport">
                                            <span>Sales Summary By Hours</span>
                                        </a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="SalesSummaryByWeekReport">
                                            <span>Sales Summary By Week</span>
                                        </a>
                                    </div>
                                    <div class="col-md-4 pl-0">
                                        <h6>Sales By</h6>
                                        @*<a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="SaleByCategorySectionReport"><span>Category Section</span></a>*@
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="SaleByCategorySectionReport"><span>Section Catrgory</span></a>

                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="SalesByCategoryProduct" asp-route-rname="SalesByCategoryProductQtyDesc"><span>Category Product qty desc</span></a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="SalesByCategoryProduct" asp-route-rname="SalesByCategoryProductQtyAsc"><span>Category Product qty asc</span></a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="SalesByCategoryProduct" asp-route-rname="SalesByCategoryProductAmountDesc"><span>Catrgory Product Amount desc</span></a>

                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="SalesBySectionCategoryProduct" asp-route-rname="SalesBySectionCategoryProductAmountAsc"><span>Section Category Product Amount asc</span></a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="SalesBySectionCategoryProduct" asp-route-rname="SalesBySectionCategoryProductAmountDesc"><span>Section Category Product Amount desc</span></a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="SalesBySectionCategoryProduct" asp-route-rname="SalesBySectionCategoryProductQtyAsc"><span>Section Category Product qty asc</span></a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="SalesBySectionCategoryProduct" asp-route-rname="SalesBySectionCategoryProductQtyDesc"><span>Section Category Product qty desc</span></a>

                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="SalesBySectionProduct" asp-route-rname="SalesBySectionProductAmountDesc"><span>Section Product Amount desc</span></a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="SalesBySectionProduct" asp-route-rname="SalesBySectionProductQtyDesc"><span>Section Product qty desc</span></a>
                                        <h6>Tally</h6>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="TallyVoucher">
                                            <span>Tally - Sales Voucher</span>
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        @*<h6>Daily</h6>
                                            <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="ProductWiseSales">
                                                <span>Product Wise Sales</span>
                                            </a>
                                            <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="DetailedDailyByDate">
                                                <span>Detailed Daily By Date</span>
                                            </a>*@
                                        <h6>Transactions</h6>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="PurchaseReport" asp-route-rname="PurchaseOrder"><span>Purchase Order</span></a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="PurchaseDetailReport" asp-route-rname="PurchaseOrderDetail"><span>Purchase Order Detail</span></a>

                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="PurchaseReport" asp-route-rname="PurchaseGRN"><span>Goods Receipt Notes</span></a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="PurchaseDetailReport" asp-route-rname="PurchaseGRNDetail"><span>Goods Receipt Notes Detail</span></a>

                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="PurchaseReport" asp-route-rname="PurchaseInvoice"><span>Purchase Invoice</span></a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="PurchaseDetailReport" asp-route-rname="PurchaseInvoiceDetail"><span>Purchase Invoice Detail</span></a>

                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="StockTransfer" asp-route-rname="StockTransfer"><span>Stock Transfer</span></a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="StockInOut" asp-route-rname="StockIn"><span>Stock In</span></a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="StockInOut" asp-route-rname="StockOut"><span>Stock Out</span></a>

                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="WasteSummaryReport"><span>Waste Summary</span></a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Report" asp-action="WasteDetailReport"><span>Waste Detail</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="font-weight:bold" href="#" id="navbarDropdownMenuLinkST" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Utilities
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkST">
                            <a class="dropdown-item" asp-controller="Report" asp-action="DataSyncHistory">Data Sync History</a>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkST">
                            <a class="dropdown-item" asp-controller="scheduler" asp-action="index">Scheduler</a>
                        </div>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="font-weight:bold; font-size:12px" href="#" id="navbarDropdownMenuLinkST" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            +
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkST">
                            <a class="dropdown-item" style="font-weight:bold; font-size:12px" href="~/FoodMenu/FoodMenu">Menu Item</a>
                            <a class="dropdown-item" style="font-weight:bold; font-size:12px" href="~/FoodMenuCategory/FoodMenuCategory">Menu Category</a>
                            <hr />
                            <a class="dropdown-item" style="font-weight:bold; font-size:12px" href="~/Ingredient/Ingredient"><span>Stock Item</span></a>
                            <a class="dropdown-item" style="font-weight:bold; font-size:12px" href="~/IngredientCategory/IngredientCategory">Stock Category</a>
                            <hr />
                            <a class="dropdown-item" style="font-weight:bold; font-size:12px" asp-area="" asp-controller="PurchaseFoodMenu" asp-action="PurchaseFoodMenu">
                                <span>Purchase Order</span>
                            </a>
                            <hr />
                            <a class="dropdown-item" style="font-weight:bold; font-size:12px" asp-area="" asp-controller="Sales" asp-action="SalesFoodMenu">
                                <span>Sales Order</span>
                            </a>
                            <hr />
                            <a class="dropdown-item" style="font-weight:bold; font-size:12px" href="~/ProductionEntry/ProductionEntry"><span>Prodution Entry</span></a>
                            <a class="dropdown-item" style="font-weight:bold; font-size:12px" href="~/ProductionFormula/ProductionFormula?foodMenuType=2">Recipe Formula</a>
                            <hr />
                            <a class="dropdown-item" style="font-weight:bold; font-size:12px" href="~/Waste/Waste">Waste Entry</a>
                            <hr />
                            <a class="dropdown-item" style="font-weight:bold; font-size:12px" href="~/AssetEvent/AssetEvent"><span>Catering Request</span></a>
                        </div>
                    </li>
                </ul>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Index">
                    <span>Logout</span>
                </a>
            </form>
        </div>
    </nav>

</header>

@*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">WebApplication3</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@
