@model RocketPOS.Models.ExpsenseCategoryModel

@{
    //    ViewData["Title"] = "ExpenseCategory";
}

@if (!string.IsNullOrEmpty(ViewBag.msg))
{
    <script type="text/javascript">
        alert("@ViewBag.msg");
    </script>
}

<div class="page-inner">
    <div class="page-header"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>Manage Expense Category</h2>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="ExpenseCategory">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="ExpenseCategory" class="control-label"></label>
                                    <input asp-for="ExpenseCategory" class="form-control" />
                                    <span asp-validation-for="ExpenseCategory" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Notes" class="control-label"></label>
                                    <input asp-for="Notes" class="form-control" />
                                    <span asp-validation-for="Notes" class="text-danger"></span>
                                </div>
                                @if (Model != null)
                                {
                                    @if (Model.Id > 0)
                                    {

                                        <div class="form-group">
                                            <label asp-for="IsActive" class="control-label"></label>
                                            <input asp-for="IsActive" class="form-control" />
                                            @* <span class="alert-danger" asp-validation-for="IsActive"></span>*@
                                        </div>
                                    }
                                }
                                @*<div class="form-group">
                                        <label asp-for="UserId" class="control-label"></label>
                                        <input asp-for="UserId" class="form-control" />
                                        <span asp-validation-for="UserId" class="text-danger"></span>
                                    </div>*@
                                <div class="form-group">
                                    @if (Model != null)
                                    {
                                        @if (Model.Id > 0)
                                        {
                                            <input type="submit" value="Edit" class="btn btn-primary btn-sm" />
                                        }
                                        else
                                        {
                                            <input type="submit" value="Add" class="btn btn-primary btn-sm" />
                                        }
                                        <input type="submit" asp-action="Index" value="Cancel" class="btn btn-primary btn-sm" />
                                    }
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                @ViewBag.Result
            </div>
            <div class="modal-footer">
                <button type="button" id="save" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
@{
    if (ViewBag.Result != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#aModal").modal('show');
            });
        </script>
    }
}
@section Scripts{
    <script>
        $('#save').click(function () {
            window.location.href = "Index";
        });
        $('#OK').click(function () {
            $("#ExpenseCategory").prev().focus();
            $("#vModal").modal('hide');
        });
    </script>
    <partial name="_ValidationScriptsPartial" />

}
