@model RocketPOS.Models.EmployeeAttendanceModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    // ViewData["Title"] = "Attendance";
}


<div class="page-inner">
    <div class="page-header"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>Manage Attendance</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="EmployeeAttendance">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                @*<div class="form-group">
                                        <label asp-for="Id" class="control-label"></label>
                                        <input asp-for="Id" class="form-control" />
                                        <span asp-validation-for="Id" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="EmployeeId" class="control-label"></label>
                                        <input asp-for="EmployeeId" class="form-control" />
                                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                    </div>*@
                                <div class="form-group">
                                    <label asp-for="EmployeeList" class="control-label">Empployee</label>
                                    @if (Model != null)
                                    {
                                        <select asp-for="EmployeeId" class="form-control"
                                                asp-items="@(new SelectList(Model.EmployeeList, "Value", "Text"))">
                                        </select>
                                    }
                                </div>
                                @*<div class="form-group">
                                        <label asp-for="EmployeeName" class="control-label"></label>
                                        <input asp-for="EmployeeName" class="form-control" />
                                        <span asp-validation-for="EmployeeName" class="text-danger"></span>
                                    </div>*@
                                <div class="form-group">
                                    <label asp-for="LogDate" class="control-label"></label>
                                    <input asp-for="LogDate" class="form-control" />
                                    <span asp-validation-for="LogDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InTime" class="control-label"></label>
                                    <input asp-for="InTime" class="form-control" />
                                    <span asp-validation-for="InTime" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="OutTime" class="control-label"></label>
                                    <input asp-for="OutTime" class="form-control" />
                                    <span asp-validation-for="OutTime" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TotalTimeCount" class="control-label"></label>
                                    <input asp-for="TotalTimeCount" class="form-control" />
                                    <span asp-validation-for="TotalTimeCount" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UpdateStatus" class="control-label"></label>
                                    <input asp-for="UpdateStatus" class="form-control" />
                                    <span asp-validation-for="UpdateStatus" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Notes" class="control-label"></label>
                                    <input asp-for="Notes" class="form-control" />
                                    <span asp-validation-for="Notes" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    @if (Model != null)
                                    {
                                        @if (Model.Id > 0)
                                        {
                                            <input type="submit" value="Edit" class="btn btn-primary btn-sm" />
                                        }
                                        else
                                        {
                                            <input type="submit" value="Add" class="btn btn-primary btn-sm" />
                                        }
                                    }
                                    <input type="submit" asp-action="Index" value="Cancel" class="btn btn-primary btn-sm" />

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                @ViewBag.Result
            </div>
            <div class="modal-footer">
                <button type="button" id="save" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
@{
    if (ViewBag.Result != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#aModal").modal('show');
            });
        </script>
    }
}
@section Scripts{
    <script>
        $('#save').click(function () {
            window.location.href = "Index";
        });
        $('#OK').click(function () {
            $("#EmployeeAttendance").prev().focus();
            $("#vModal").modal('hide');
        });
    </script>
    <partial name="_ValidationScriptsPartial" />

}
